{% extends 'base.html.twig' %}

{% block title %}Hello PasswordChangeController!{% endblock %}

{% block body %}
    {{ form_start(PasswordChangeForm) }}
    {{ form_row(PasswordChangeForm.pastPassword)
    }}
    {{ form_row(PasswordChangeForm.newPassword)
    }}
    <button type="submit" class="btn">Сменить пароль</button>
    {{ form_end(PasswordChangeForm) }}
{% endblock %}
