{% extends 'base.html.twig' %}

{% block title %}Блог{% endblock %}

{% block body %}
    <h1>Посты</h1>
    {% for post in posts %}
        <p>{{ post.getTitle() }} | {{ post.getContent() }} | {{ post.getCategory() }} | {{ post.getCreatedAt()|date('Y-m-d') }}</p>
    {% endfor %}
{% endblock %}